body {
    background-color: #f6f8f2;
    font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
    color: #222;
  }
  
  /* --- 全体レイアウト --- */
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
  }

  /* --- 中央 新着エリア --- */
  .main-contents {
    width: 55%;
    text-align: center;
    margin: 60px auto;
  }
  
/* --- 新着カード型 --- */
.contact-form__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #1a1a1a;
  }
  

  .breadcrumb-001 {
    display: flex;
    gap: 0 22px;
    list-style: none;
    padding: 0;
    font-size: .9em;
}

.breadcrumb-001 li {
    display: flex;
    align-items: center;
}

.breadcrumb-001 li:first-child::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 4px;
    background-repeat: no-repeat;
    content: '';
}

.breadcrumb-001 li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    margin-left: 10px;
    border-top: 1px solid #5b47fb;
    border-right: 1px solid #5b47fb;
    content: '';
}

.breadcrumb-001 a {
    color: #333333;
    text-decoration: none;
}

  /* --- 月別たぶ --- */

  .news_radio {
    display: none;
  }
  
  .news_month_tab {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-bottom: 40px;
  }
  
  .news_month_count {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background: #ffffff;
    color: #333;
    transition: all 0.3s ease;
  }
  
  /* 選択されたタブだけactive風に見せる */
  .news_radio:checked + .news_month_count {
    background-color: #5b47fb;
    color: white;
    font-weight: bold;
    border-color: #5b47fb;
  }
  
  .news_contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* 各月の全体 */
  .news_month_item {
    display: none; /* JSで切り替える用に非表示 */
    flex-direction: column;
    gap: 15px;
  }
  
  /* 表示中だけ表示 */
  .news_month_item.show {
    display: flex;
  }
  
  /* お知らせ1件ずつの見た目 */
  .news_month_item p {
    background-color: #ffffff;
    font-size: 18px;
    padding: 32px 16px;
    border-left: 4px solid #5b47fb;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    text-align: left;
    margin: 0;
  }
  

  /* --- レスポンシブ対応 --- */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
      gap: 24px;
    }
  
    .left-menu,
    .main-contents,
    .right-menu {
      width: 100%;
      margin-top: 0;
    }
  
    .left-menu a,
    .right-menu a {
      font-size: 16px;
    }
  
    .main-contents::after {
      font-size: 24px;
      padding: 4em 0;
    }
  }